#ggallery {
  width: 100%;
  margin: 0 auto;
}

.ggallery-item {
    display: block;
}

#ggallery {
    
}

button.pswp__button--test-button {
  background: #136912 !important;
  font-size: 20px;
  color: #fff;
}