.ggallery {
  width: 100%;
  margin: 0 auto;
}

.ggallery-item {
    display: block;
}

.pswp__button {
  background-color: #333 !important;
  opacity: .5 !important;
  &[disabled] {
    opacity: .1 !important;
  }
  &:hover:not([disabled]) {
    background-color: #5a8361 !important;
    opacity: 1 !important;
  }
}

.pswp__button--arrow--next,
.pswp__button--arrow--prev {
  width: 70px !important; 
}

@media (max-width: 768px) {
  .pswp__button--arrow--next,
.pswp__button--arrow--prev {
  width: 50px !important;
  svg {
    width: 32px !important;
  }
}

}

.uk-button-text {
  &:hover {
    color: #B59F87 !important;
  }
}